<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Assignment 2 - SVG Animation</title>
  <link rel="icon" href="../resources/favicon.svg" type="image/svg+xml">
  <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>

<!-- Navigation Menu -->
<nav class="menu">
  <ul>
    <li><a href="../index.html">Home</a></li>
    <li><a href="./two.html">Page Two</a></li>
    <li><a href="./three.html">Page Three</a></li>
  </ul>
</nav>

<!-- Heading -->
<h1>SVG Animation is easy!</h1>

<!-- SVG Animation -->
<img src="../resources/page-three.svg" alt="SVG Animation of Circle Moving Around Square">

</body>
</html>
